<f:layout name="Page/Standard" />

<f:section name="Configuration">
	<flux:form id="standard">
		<flux:field type="input" name="settings.documentationRootPageUid" label="Documentation root page" config="{renderType: 'inputLink'}" />
	</flux:form>
	<f:render partial="Page/GridConfiguration" arguments="{_all}" />
</f:section>

<f:section name="Main">
	<div class="container body">
		<v:variable.set name="contentWidths" value="{0: 12, 1: 12, 2: 12}" />
		<div class="row">
			<f:if condition="{settings.documentationRootPageUid}">
				<f:variable name="pageUid" value="{settings.documentationRootPageUid -> v:iterator.explode(glue: '=') -> v:iterator.last()}" />
				<div class="col-md-3 col-xs-4 col-sm-4">
					<h4>{v:page.info(pageUid: pageUid, field: 'title')}</h4>
					<v:menu pageUid="{pageUid}" levels="3" expandAll="TRUE" class="leftmenu" />
				</div>
				<v:variable.set name="contentWidths" value="{0: 9, 1: 8, 2: 8}" />
			</f:if>
			<div class="container col-md-{contentWidths.0} col-xs-{contentWidths.1} col-sm-{contentWidths.2}">
				<v:content.render column="0" />
			</div>
		</div>
	</div>
</f:section>
