{namespace v=FluidTYPO3\Vhs\ViewHelpers}
{namespace n=Tx_News_ViewHelpers}

<div class="clearfix">


<h2>
	<div class="lead text-info pull-right">
		<f:format.date format="d/m Y">{newsItem.datetime}</f:format.date>
	</div>
	{newsItem.title}
</h2>
<f:if condition="{newsItem.teaser}">
	<!-- teaser -->
	<p class="lead">
		{newsItem.teaser}
	</p>
</f:if>

<f:format.html>{newsItem.bodytext}</f:format.html>

<f:if condition="{newsItem.contentElements}">
	<f:cObject typoscriptObjectPath="lib.tx_news.contentElementRendering">{newsItem.contentElementIdList}</f:cObject>
</f:if>

<p>&nbsp;</p>

</div>
